
<h2>Order Summary</h2>

<p>Name: @ViewData["CustomerName"]</p>
<p># Popscicles: @ViewData["NumPopscicles"]</p>
<p>Flavor Order: @ViewData["IceCreamFlavor"]</p>
<p>Order SubTotal: $@ViewData["Subtotal"]</p>
<p>HST : $@ViewData["HstAmt"] (@ViewData["HstRate"])</p>
<p>Total: $@ViewData["OrderTotal"]</p>