@model CoreModelViewController.Models.CostumeOrder

<h1>Thanks for your Order!</h1>
<p>Name: @Model.CustomerName</p>
<p>Costume Type: @Model.CostumeType</p>
<p>Size: @Model.CostumeSize</p>
<p>Order Total: $@Model.OrderTotal</p>
<hr />
<p>Notes: @Model.OrderNote</p>