@model CoreModelViewController.Models.CandyOrder

<h1>Summary</h1>
<p>Name on Order: @Model.OrderName</p>
<p>Address of Order: @Model.OrderAddress</p>
<p>Pieces of Candy: @Model.CandyNumPieces</p>
<p>Candy Type: @Model.CandyType</p>
<p>Checkout Amount: $@Model.OrderTotal</p>